pretrained/
__pycache__/
RNA3D_DATA
test_output
test_checkpoints
processed_data/*
.venv
.vscode
DS_Store
filter_summary.txt
mismatch_report.txt
*.log
checkpoints/
output/
*.pt
batch_inference_output/
database/

*.lock

plots/
rhofold_test_output/
.cursor
RNAdata/
fine_tuning_data/